header {
  background-color: $primaryColor;

  .top {
    padding: 15px;
    @include header;
    ul {
      float: right;
      list-style: none;
      li {
        display: inline-block;
        &:not(:last-of-type) {
          margin-right: $short;
        }
        i {
          color: $textColorBlue;
          margin-right: $short;
        }
        a {
          text-decoration: none;
          color: $textColorGrey;
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .bottom {
    @include header;
    color: white;
    ul {
      @include flex-center;
      list-style: none;
      flex-wrap: wrap;
      height: 100%;
      li {
        @include flex-center;
        padding: 0 20px;
        height: 45px;
        img {
          height: 25px;
        }
        &:not(:first-of-type):hover {
          background-color: white;
          color: $primaryColor;
        }
      }
    }
  }
}
