@mixin clearfix {
  content: "";
  display: table;
  clear: both;
};

@mixin header {
  max-width: 1150px;
  margin: 0 auto;
};

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
};

@mixin jumbo-background {
  background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
  background-position: center;
  background-size: cover;
}
